
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        <div class="col-md-9">
            <!--Notlar-->
            <div class="row">
                <h2>
                    Amet , sit dolor
                </h2>
                <p> Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor</p>
                <p> Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor</p>
                <p> Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor</p>
                <p> Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor</p>
                <p> Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor</p>
                <p> Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor Amet , sit dolor</p>
            </div>
        </div>
    </div>
</div>


