
@{
    ViewBag.Title = "Hesap Aktifleştirildi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">Yönlendiriliyorsunuz...</h1>
            </div>
            <hr />
            <div class="text-success">
                <h2><span class="glyphicon glyphicon-ok"> Hesap Aktifleştirildi.</span></h2>

            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("footer").parent().hide();

        setTimeout(function () {
            window.location = "/Home/Index";
        }, 3000);
    });
</script>
